<% layout('layouts/boilerplate') -%>
<h1><b>Gateway to yelpcamp</b></h1>
<div class="container">
    <div class="row">
      <div class="col">
        <form action="http://localhost:3000/starter/login" method="GET">
            <label for="login">Login to go ahead</label>
            <div class="mb-3" id="'login">
                <button class="btn btn-success">Login</button>
            </div>
        </form>
      </div>
      <div class="col">
        <form action="http://localhost:3000/starter/register" method="GET">
            <label for="register">New customer?</label>
            <div class="mb-3" id="register">
                <button class="btn btn-success">Register</button>
            </div>
        </form>
      </div>
    </div>
    <div class="row">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, aperiam maiores officia fugit soluta expedita, dolorum veniam unde, quasi quidem quam repellendus doloremque? Asperiores at reiciendis exercitationem repellat unde excepturi!
            Et debitis eligendi ut temporibus sint itaque dignissimos voluptas enim laudantium consequuntur vero neque possimus expedita, accusamus reiciendis quam praesentium totam, sit, quasi laboriosam ullam inventore? Dolore similique necessitatibus nobis.
            Nihil animi earum perspiciatis architecto magni consequatur nisi aliquam cupiditate eius at placeat ab assumenda aperiam tempore laudantium quam corrupti debitis dignissimos cum, quasi, aut voluptas odio nostrum sunt! Saepe!
        </p>
    </div>
  </div>