<% layout('layouts/boilerplate') -%>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Minima ad ipsum asperiores saepe minus natus quam incidunt, 
    voluptas dolore nostrum eum nisi ratione odio assumenda quaerat magnam quae, 
    voluptate possimus!
</p>
<form action="http://localhost:3000/starter/logout" method="POST">
    <div class="mb-3" id="'login">
        <button class="btn btn-warning">Logout</button>
    </div>
</form>