<% layout('layouts/boilerplate') -%>
<h1>This is to test whether the layout works properly or not</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi repudiandae nobis vero ducimus mollitia porro voluptas, ab perspiciatis voluptatibus sunt autem explicabo corporis deserunt expedita repellat architecto officiis doloremque blanditiis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro alias assumenda eum id dicta laudantium, sunt placeat soluta voluptate corrupti iure pariatur at omnis officiis deleniti, neque consequatur tenetur esse?
    Deserunt, iure asperiores! Quia exercitationem fugiat nobis necessitatibus consequatur consectetur, dolor rem delectus, in mollitia nostrum. Suscipit, ea expedita? Dolorem facilis consectetur commodi? Nulla, labore atque esse recusandae mollitia sunt.
    Earum obcaecati consequatur sequi beatae facilis praesentium quibusdam provident non ducimus labore quis cum vel dolorum eius repellat quia cupiditate accusamus ea adipisci animi, repudiandae est dignissimos maiores maxime? Sit!
</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">  
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column vh-100">